.main{
  padding: 10px;
 display: flex;
 flex-direction: row;
 justify-content:space-between;
}

.filter{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.title{
  font-weight: bold;
  color: white;
  font-size: 30px;

}

.items{
  display: flex;
  align-items: start;
  text-align: center;
  justify-items: center;
  flex-direction: column;

}

.title1{
margin-top: 50px;

}
.itemstitle{

  font-weight: 500;
  font-size: 15px;
}

.tt{
  padding: 6px;
color: white;
}

.button{
  margin-top: 20px;
  height: 30px;
  width: 230px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: red;
}


/* .products{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.pitem{
  width: 18rem;
} */


